---
import Layout from '../layouts/Layout.astro';
import Landing from '../components/Landing/Landing.jsx';
import About from '../components/About/About.jsx';
import Projects from '../components/Projects/Projects.jsx';

---

<Layout title="Welcome to Astro.">
	<main>
		<Landing client:load/> 
		<!-- <div id='about'>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis sed ea quia, dicta ullam, nam eos atque, quos ut natus placeat quas dolor distinctio. Laudantium, animi rem? Nam praesentium eveniet voluptas, optio ut necessitatibus? Ex magni odit odio eligendi ipsam saepe nisi at aliquam temporibus! Recusandae, adipisci distinctio ab nemo cupiditate voluptates repellat, consequuntur quis excepturi sit minima. Obcaecati sit fuga ratione deserunt non accusantium, totam mollitia error dignissimos eaque ut modi cupiditate numquam qui impedit accusamus cum quaerat ipsum, maiores, magni ipsam dolor beatae? Voluptate maiores quos quisquam sequi praesentium magni suscipit modi eveniet ullam, quis laboriosam aspernatur sit! Molestiae, aut ut. Deserunt hic voluptatum magnam perferendis repellendus fugiat incidunt, illo fuga quas reiciendis itaque sint similique inventore, minus consequatur aut nemo. Praesentium mollitia ex molestiae necessitatibus beatae! Odio, ducimus est, rerum architecto inventore voluptatibus minus iste error quo voluptatum tempore! Soluta ea architecto in distinctio minima obcaecati rem nemo, praesentium sed error laboriosam, temporibus at doloribus nesciunt omnis placeat molestiae facere culpa nam dicta velit nihil. Voluptatem praesentium sunt fugiat exercitationem labore a quia vitae est ratione sed fugit ipsum molestias corporis tenetur, adipisci nisi aspernatur! Reiciendis consequatur fugiat, consectetur maiores necessitatibus corrupti dolorem laboriosam non minus ratione eligendi excepturi aspernatur quas pariatur quia, quasi, ducimus aut vitae! Voluptas velit provident repellat, voluptatem doloribus autem odit cum maiores culpa quos est animi, tempore nisi ab cupiditate quae eius iure totam a quidem expedita nulla atque porro quibusdam. Alias reiciendis beatae dolorem pariatur quos, possimus optio numquam! Eius laboriosam molestias dolorum sapiente ipsam praesentium velit adipisci, delectus quos quasi in ut. Nemo beatae facilis in iure animi voluptatum itaque quae sunt, dolorum officiis consectetur amet sit accusantium nulla ab accusamus commodi consequatur illo cupiditate. Asperiores, exercitationem. Id aperiam laboriosam maxime ex. Repellendus numquam deserunt exercitationem animi praesentium? Minus doloremque ipsum corporis nesciunt. Est nisi vero consequatur ipsa commodi pariatur dignissimos saepe fugiat expedita totam explicabo tempore dolorem a recusandae nam, dolorum, voluptatem et distinctio possimus esse iste aspernatur error? Exercitationem illo voluptatem reprehenderit mollitia alias provident consectetur minus est laboriosam rerum perferendis ad nobis cupiditate commodi eos, molestiae voluptas quo tempora id officiis numquam similique aliquam? Consequuntur reiciendis amet expedita magni voluptas eveniet numquam, optio consectetur magnam animi deleniti temporibus adipisci recusandae obcaecati doloremque. Amet rem ut placeat libero maiores esse, quaerat aut eaque unde nesciunt, repellat dolorum, quos dicta assumenda vel nulla hic aliquam quibusdam perspiciatis similique totam!
		</div> -->
		<About />
		<Projects />
	</main>
</Layout>

<style>
	@font-face {
		font-family: 'BestermindRegular';
		src: url('./assets/fonts/Bestermind/BestermindRegular.ttf'); 
		src: url('./assets/fonts/Bestermind/BestermindRegular.ttf') format('embedded-opentype'), 
			 url('./assets/fonts/Bestermind/BestermindRegular.ttf')  format('truetype'), 
	}

	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
